$white: #fff;
$black: #1f2022;
$grey: #898989;
$red: #ff0000;
$lightgrey: #f9f9f9;

@mixin flex($flexDirection, $justifyContent, $alignItems) {
  display: flex;
  flex-direction: $flexDirection;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

@mixin avatar($width, $height) {
  width: $width;
  height: $height;
  border-radius: 50%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400px;
}

.button {
  cursor: pointer;
}

.header {
  padding: 20px 70px 20px 32px;
  @include flex(inherit, inherit, center);
  /* Настройки для фиксированной позиции шапки*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $white;
  z-index: 2; /* z-index определяет порядок элемента на странице, таким образом шапка будет точно поверх остального контента */
}

.menu__button {
  width: 20px;
  height: 17px;
  background: $white;
  border: none;
  @include flex(column, space-between, inherit);
  margin-right: 32px;
  .menu__button-line {
    display: block;
    width: 20px;
    height: 3px;
    background: $black;
    border-radius: 20px;
  }
}

.logo {
  margin-right: 144px;
  .icon {
    opacity: 1;
    width: 116px;
    height: 25px;
  }
}

.search__group {
  background: #ebebeb;
  border-radius: 22px;
  @include flex(row, space-between, center);
  padding-right: 17px;
  max-width: 830px;
  width: 50%;
  .search__input {
    background: transparent;
    border: none;
    padding: 12px 23px;
    width: 100%;
  }
  .search__button {
    width: 19px;
    height: 19px;
    border: none;
    background: transparent;
    padding: 0;
    .search__button-icon {
      fill: $black;
    }
  }
}

.icons__group {
  @include flex(row, inherit, center);
  margin-left: auto;
  .icon__link:not(:last-child) {
    margin-right: 50px;
  }
}

.icon {
  opacity: 0.4;
}

.icon__link {
  text-decoration: none;
  &:hover {
    .main__nav-text {
      color: $red;
    }
    .icon {
      fill: $red;
      opacity: 0.7;
    }
  }
}

.user {
  margin-left: 45px;
  .user__avatar {
    @include avatar(40px, 40px);
  }
}

.sidebar {
  padding: 33px 0 0 32px;
  background: $white;
  /* Настройки для фиксированной позиции, чтобы боковое меню можно было прокручивать */
  position: fixed;
  left: 0;
  top: 83px;
  height: calc(100% - 114px);
  overflow-y: auto;
  width: 12%;
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background: $lightgrey;
  }
  &::-webkit-scrollbar-thumb {
    background: $grey;
  }
}

.nav__title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 30px;
}

.main__nav-menu {
  margin-top: 0;
  margin-bottom: 60px;
  list-style: none;
  padding: 0;
  .icon__link {
    display: flex;
    align-items: center;
  }
  .main__nav-menu--item {
    margin-bottom: 28px;
  }
  .main__nav-text {
    padding-left: 14px;
    color: $grey;
  }
  .user__avatar {
    @include avatar(26px, 26px);
  }
}

.main {
  background: $lightgrey;
  padding-left: 350px;
  padding-top: 116px;
  width: 100%;
  height: 100%;
}

.channel {
  position: relative;
  margin-bottom: 50px;
  .user__avatar {
    @include avatar(50px, 50px);
  }
  .channel__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 30px;
  }
  .channel__name {
    font-weight: bold;
    font-size: 26px;
    line-height: 33px;
    color: $black;
    margin-left: 20px;
  }
}

.video__link {
  text-decoration: none;
}

.video__card {
  width: 250px;
}

.video__thumb {
  width: 250px;
  height: 150px;
  overflow: hidden;
  border-radius: 14px;
  position: relative;
  .thumbnail {
    width: 250px;
    height: 150px;
    object-fit: cover;
  }
}

.video__title {
  color: $black;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-top: 10px;
  margin-bottom: 4px;
}

.video__info {
  color: $grey;
  font-size: 13px;
  line-height: 16px;
  @include flex(row, space-between, center);
}

.dot {
  padding: 0 2px;
}

.video__duration {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: #000000;
  mix-blend-mode: normal;
  opacity: 0.35;
  border-radius: 12px;
  font-size: 14px;
  line-height: 18px;
  color: $white;
  padding: 3px 9px;
}

.slider-buttons {
  @include flex(row, space-between, center);
  width: 66px;
  position: absolute;
  top: 0;
  right: 8%;
}
